body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
}


h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

input[type="text"] {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 20%;
}

.text2 {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 85%;
}

button {
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0b5ed7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #1c1c1c;
    margin: 8px 0;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #333333;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Responsive design */
@media (max-width: 600px) {
    input[type="text"], button {
        width: 90%;
    }
}

.container {
    position: relative;
    text-align: center;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    background: url('/beer.png') no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.summary ul {
    list-style-type: disc; /* or any other style you prefer */
    padding-left: 20px; /* adjust as needed for proper indentation */
}

.summary li {
    /* color: #e0e0e0; or any other color that fits your design */
    margin-bottom: 10px; /* space between bullet points */
    font-size: 16px; /* adjust size as needed */
}

.keyword {
    font-weight: bold;
    font-size: 1.1em; /* Adjust the size as needed */
}

.summary .merge-item {
    margin-bottom: 15px;
}
